.auth-body-background{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/039/051/987/small_2x/ai-generated-an-old-globe-lies-on-a-book-in-a-library-retro-style-science-education-travel-vintage-background-education-history-and-geography-team-photo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 72vh; 
    width: 90vw;
}